@keyframes bg-animation {
    0% {background-position: right}
    100% {background-position: left}
}

.monaco-workbench
    .part.editor
    >.content 
        .editor-group-container
        > .title .tabs-container
        > .tab.active.tab-border-top
        > .tab-border-top-container {
            color:transparent;
            background-image: linear-gradient(90deg, rgb(124,200,250) 1%, rgb(214,109,255) 33%, rgb(250,124,187) 66%, rgb(255,210,152) 100%);
            background-size: 300%;
            height: 4px;
            animation: bg-animation 3s infinite alternate;
}

.monaco-editor
    .cursors-layer
        .cursor {
            color:transparent;
            background-image: linear-gradient(to top, #fa7cbb, #ffbdbd);
}

.monaco-workbench
    .part.statusbar {
        background-image: linear-gradient(90deg, rgba(24,116,182,1) 1%, rgba(17,159,184,1) 23%, rgba(130,200,159,1) 60%, rgba(149,95,203,1) 100%, rgba(132,67,185,1) 100%);
        color: #fff !important;
        height: 18px !important;
        background-size: 300%;
        animation: bg-animation 3s infinite alternate;
}
